<p>publicacoes works!</p>


<p>Buscar post</p>
<form (submit)="unicaPublicacao()" class="busca">
    <label for="postIdBusca">Id do post desejado</label>
    <input type="number" [(ngModel)]="postId" [ngModelOptions]="{standalone: true}" id="postIdBusca" placeholder="Id do post que está procurando">
    <button>Pesquisar</button>
</form>
<div>
    <p>Editar Publicação</p>
    <label for="titulo">Titulo: </label>
    <input type="text" id="titulo" [(ngModel)]="Publicacao.title">
    <br>
    <label for="body">Publicação: </label>
    <input type="text" id="body" [(ngModel)]="Publicacao.body">
    <br>
    <button id="editar" class="botoes">Salvar</button>
    <button (click)="removePublicacao()" class="botoes">Excluir post</button>

</div>



<table *ngIf="postId != 0">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Publicação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ Publicacao.title }}</td>
            <td>{{ Publicacao.body }}</td>
        </tr>
    </tbody>
</table>

<table id="todos">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Publicação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let publicacoes of listaPublicacoes">
            <td>{{ publicacoes.title }}</td>
            <td>{{ publicacoes.body }}</td>
        </tr>
    </tbody>
</table>