table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

#todos {
    margin-top: 20px;
}

.botoes {
    margin: 15px;
    margin-left: 0;
}

.busca {
    margin: 20px;
    margin-left: 0px;
    border: 1px black solid;
    padding: 10px;
}